*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color: #e2e2e2;
  color: #bcbcbc;
  font-family: sans-serif;
}

h1{
  font-family: 'Fredericka+the+Great';
  color: #594b3e;
  font-size: 30px;
  
}

h2{
  font-family: 'Fredericka+the+Great';
  color: #7a6554;
  font-size: 25px;
}

.story{
  font-family: 'Winky+Rough';
  line-height: 2;
  margin-bottom: 25;
  
}

