
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.winky-rough-<uniquifier> {
  font-family: "Winky Rough", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.fredericka-the-great-regular {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}

html{
  background-color: #e2e2e2;
  color: #bcbcbc;
  font-family: sans-serif;
  font-size: 18px;
  width: 550px;
  text-align: center;
}

h1{
  font-family: 'Fredericka the Great';
  color: #594b3e;
  font-size: 30px;
  margin-bottom: 20px;  
  
}

h2{
  font-family: 'Fredericka the Great';
  color: #7a6554;
  font-size: 25px;
  margin-bottom: 20px;
}

.story{
  font-family: 'Winky Rough';
  line-height: 2;
  margin-bottom: 25px;
  text-align: justify;  
  
}

.quote{
  font-style: italic;
}
